# Google Cloud Configuration
GOOGLE_CLOUD_PROJECT=your-project-id
TOPIC_ID=your-topic-name

# Service Account 
GOOGLE_CLOUD_EMAIL="pubsub-publisher@zendly-staging.iam.gserviceaccount.com"
GOOGLE_CLOUD_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...."

# Application Configuration
NODE_ENV=development
PORT=8080
LOG_LEVEL=info

# WhatsApp Webhook Configuration
WEBHOOK_VERIFY_TOKEN=your-webhook-verify-token
